<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="moe.haruue.wadb">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".WadbApplication"
        android:allowBackup="false"
        android:directBootAware="true"
        android:hasFragileUserData="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/wireless_adb"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity-alias
            android:name=".ui.activity.LaunchActivity"
            android:label="@string/wireless_adb_short"
            android:targetActivity=".component.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".component.HomeActivity"
            android:label="@string/wireless_adb_short"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </activity>

        <service
            android:name=".ui.service.WadbTileService"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            android:icon="@drawable/ic_qs_network_adb_on"
            android:label="@string/wireless_adb"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.TurnOffReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="false"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="moe.haruue.wadb.action.TURN_OFF_WADB" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="9232"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.BootCompletedReceiver"
            android:directBootAware="true"
            android:enabled="false"
            android:exported="true"
            android:permission="android.permission.INTERACT_ACROSS_USERS_FULL">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>